<!-- Since its a small project, so I am not focusing on component wise building! -->

<div class="container">
  <div class="left-col">
    <!-- Using image since logo was not separatley provided -->
    <img class="left-col-img" src="../assets/images/left-col.png" alt="left-col">
  </div>


  <div class="center-col">
    <div class="heading">
      <h1>Message</h1>
      <span class="label">Enter message below</span>
    </div>

    <div class="textarea-container">
      <textarea class="textarea" rows="36" cols="141"></textarea>
    </div>
  </div>
  
  <div class="right-col">
    <div class="send-btn">
      SEND
    </div>
    <div class="cancel-btn">
      CANCEL
    </div>
  </div>
</div>

<router-outlet></router-outlet>
